a {
	text-decoration: none;
	color: white;
}


.slides .status-code {
		color: yellow;
	margin: 2rem;
}

li {
	color : white;
}

.sub li {
	font-size: 0.8em;
	color: white;
}


#lonlat {
	height: 450px;
	width: auto;
	display: block;
	margin: 0 auto;
}

#layers-image {
	height: 250px;
	padding-top: 35px;
	width: auto;
	display: block;
	margin: 0 auto;
}

